.movieCastList {
  list-style: none;
  padding-inline-start: 10px;
}

.movieCastItem {
  display: flex;
  margin: 10px;
  border-bottom: solid 1px black;
  gap: 15px;
}

.movieCastImgBox{
  width: 200px;
}

.movieCastImg {
  display: block;
  margin: 0 auto;
  height: 180px;
  padding: 10px;
}

.movieCastDescr {
  margin-top: 10px;
}

.movieCastText {
  font-weight: 600;
}

.movieCastDescr span {
  font-weight: 400;
}

