.movieCastList {
  list-style: none;
  padding-inline-start: 10px;
}

.movieCastItem {
  display: flex;
  margin: 10px;
  border-bottom: solid 1px black;
  gap: 15px;
  padding-bottom: 10px;
}

.movieCastImgBox{
  width: 100px;
  

}

.movieCastImg {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.movieCastDescr {
  margin-top: 10px;
}

.movieCastText {
  font-weight: 600;
}

.movieCastDescr span {
  font-weight: 400;
}

