.moviesSearch__list {
  list-style: none;
  padding-inline-start: 10px;
  
  margin: 0 auto;
  margin-top: 30px;
}
  

.moviesSearch__item {

  margin-bottom: 10px;
  padding: 10px;
  margin: 2px;
  border-bottom: solid 1px black;


}

.moviesSearch__item:hover {
  cursor: pointer;
}

.moviesSearch__item:hover .moviesSearch__link {
  color: rgb(237, 24, 24);
}

.moviesSearch__link {
  display: flex;
  flex-direction: column;
 align-items:  center;
  color: black;
  text-decoration: none; 
  gap: 5px;

}

.moviesSearch__img{
  height: 130px;
  width: 86px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.moviesSearch__poster{

  height: 130px;
  width: 86px;
  object-fit: cover;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.moviesSearch__descr{
  text-align: center;
  font-size: 15px;
}

.moviesSearch__title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .moviesSearch__title{
    width: 420px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  
.moviesSearch__descr{
  text-align:start;

}

	.moviesSearch__list {
		width: 550px;
    display: block;
    margin-top: 50px;
	}

  .moviesSearch__link {
   
    justify-content: space-between;
    flex-direction: row;
	}
  
  }
  
  @media screen and (min-width: 1048px) {
	.moviesSearch__list {
		width: 600px;
	}
  
  }