.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.666);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav {
  display: flex;
}

.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.navLink:hover,
.navLink:focus {
  color: rgb(237, 24, 24);
}

.container {
  position: relative;
  padding: 15px;
}
